@charset "UTF-8";

body{
	color: white;
}

.likealbum,
.like_list{
	display:none;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: #65f023;
}

.head{
	margin-left:20px;

	width:500px;
	display:flex;
}

.head2{

	display:flex;
	width:1200px;
	margin-left:40px;
}

.boxhead {

	font-size:30px;
	margin:20px;
	float:left;
	width: 80px;
}

.head .box{

	font-size:15px;
	width: 30px;
	margin: 20px;
}

.head2 .box{

	font-size:15px;
	width: 90px;
	margin: 10px;
}

.head2 .head3{

	display: flex;
	margin-left:45%;
	width: 500px;
}

.head2 .head3 .box{
	border: 1px solid white;
    border-radius: 50px;
    width: 90px;
    padding: 10px;
    height: 20px;
}


.like_list{

	width:1200px;
	margin-left:40px;
}

.like_list tbody tr td:nth-child(1){
	width:5%;
}

.like_list tbody tr td:nth-child(2){
	width:5%;
}

.like_list tbody tr td:nth-child(3){
	width:40%;
}

.like_list th,
.like_list td{
	padding:15px;

	border-top: 1px solid #fff;
}

/* likealbum css */

.likealbum ul {
	display:flex;
	padding-top:30px;
}
.likealbum ul li {
	width:235px;
	height:280px;
}
.likealbum ul li img {
	border-radius:10px;
}
.likealbum ul div {
	padding-top:5px;
}
.likealbum ul div p {
	padding-top:7px;
}
.likealbum ul div p:nth-child(1) {
	font-size:14.5px
}
.likealbum ul div p:nth-child(2), p:nth-child(3) {
	font-size:13px
}

/* likesinger css */

.like_artist tr{
	position: relative;
	display: flex;
	width: 150px;
	margin: 0 10px;
}

.like_artist p{
	font-size:1rem;
	line-height:30px;
	height:30px;
	width:100px;
	margin-left: 10px;
}

.like_artist .top{
	font-size:1rem;
	line-height:30px;
	height:30px;
	width:100px;
	margin-top: 100px;
	margin-left: 10px;
}

.like_artist img{
	margin-top:30px;
	width:230px;
	border-radius:50%;
}

.like_artist tbody{
	position:relative;
	width:1100px;
	display:flex;
	justify-content:space-around;
}

/* heart js */
#like_heart .like_white{font-size: 1.1rem; font-weight: 300; color: #fff;}
#like_heart .green{font-size: 1.1rem; font-weight: 300; color: #04E632 !important;}

#artist_heart1 .artist_white1{font-size: 1.1rem; font-weight: 300; color: #fff;}
#artist_heart1 .artist_green1{font-size: 1.1rem; font-weight: 300; color: #04E632 !important;}

#artist_heart2 .artist_white2{font-size: 1.1rem; font-weight: 300; color: #fff;}
#artist_heart2 .artist_green2{font-size: 1.1rem; font-weight: 300; color: #04E632 !important;}

#artist_heart3 .artist_white3{font-size: 1.1rem; font-weight: 300; color: #fff;}
#artist_heart3 .artist_green3{font-size: 1.1rem; font-weight: 300; color: #04E632 !important;}