@charset "UTF-8";

body{
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: #65f023;
}

.head{
	margin-left:20px;
	border: 1px soild white;
	width:500px;
	display:flex;
}

.head2{
	border: 1px soild white;
	display:flex;
	width:1200px;
	margin-left:40px;
}

.boxhead {
	border: 1px soild white;
	font-size:30px;
	margin:20px;
	float:left;
	width: 80px;
}

.head .box{
	border: 1px soild white;
	font-size:15px;
	width: 30px;
	margin: 20px;
}

.head2 .box{
	border: 1px soild #fff;
	font-size:15px;
	width: 90px;
	margin: 10px;
}

.head2 .head3{
	border: 1px soild white;
	display: flex;
	margin-left:45%;
	width: 500px;
}

.head2 .head3 .box{
	border: 1px solid white;
    border-radius: 50px;
    width: 90px;
    padding: 10px;
    height: 20px;
}


.like_list{
	border: 1px soild white;
	width:1200px;
	margin-left:40px;
}

.like_list tbody tr td:nth-child(1){
	width:5%;
}

.like_list tbody tr td:nth-child(2){
	width:5%;
}

.like_list tbody tr td:nth-child(3){
	width:40%;
}

.like_list th,
.like_list td{
	padding:15px;
	border: 1px soild #fff;
	border-top: 1px solid #fff;
}

#like_heart .white1{font-size: 1.1rem; font-weight: 300; color: #fff;}
#like_heart .green{font-size: 1.1rem; font-weight: 300; color: #04E632 !important;}